@import "src/styles/mixins";

.text {
  @include typography(
    $fs: $font-size-m,
    $lh: $line-height-s,
    $fw: $font-weight-medium
  );

  max-width: 500px;
  color: rgb(255 255 255);
  text-align: center;
}

.text_block {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.title {
  @include typography(
    $fs: $font-size-xxl,
    $lh: $line-height-m,
    $fw: $font-weight-bold
  );

  margin-bottom: 25px;
  color: rgb(255 255 255);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;

  width: auto;
  padding: 1rem;

  background-color: rgb(255 255 255 / 10%);
  border-radius: 10px;
}

.container_button {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

@media (width <= 768px) {
  .container_button {
    flex-direction: column;
    justify-content: center;
  }

  .container {
    width: 100%;
  }
}
