@import "src/styles/colors";
@import "src/styles/typography";

.default {
  all: unset;

  cursor: pointer;
  user-select: none;

  box-sizing: border-box;
  width: 100%;
  padding: 16px 20px;

  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  line-height: 24px;
  color: rgb(255 255 255);
  text-align: center;

  background-color: rgb(255 0 0);
  border-radius: 10px;
  box-shadow:
    rgb(0 0 0 / 20%) 0 2px 4px -1px,
    rgb(0 0 0 / 14%) 0 4px 5px 0,
    rgb(0 0 0 / 12%) 0 1px 10px 0;

  transition: 0.3s;

  &:hover {
    background-color: rgb(178 0 0);
  }

  &:active {
    color: rgb(168 168 168);
    background-color: rgb(141 1 1);
  }
}
