@import "src/styles/mixins";

.container_button {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.info_block {
  width: 300px;
}

.subscription {
  display: block;
  margin-bottom: 15px;
}

@media (width <= 768px) {
  .info_block {
    width: 100%;
  }
}

@media (width >= 769px) and (width <= 1100px) {
  .info_block {
    width: 220px;
  }
}
