@import "src/styles/typography";
@import "src/styles/colors";

html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.StripeElement {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  padding: 10px 12px;

  color: #32325d;

  background-color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 #e6ebf1;

  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-family-primary;
  line-height: 24px;
  color: $color-light-100;

  background-color: rgb(18 18 18);
}
